<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyết Đê</title>
</head>
<body>
    <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
    <form action="/addquestion" method="POST">
        <textarea name="questionContent" id="content" cols="30" rows="10" maxlength="200"></textarea> <!--khong co name thi ko gui duoc data len, name la key-->
        <div>Còn <span id="count">200</span>/200 ký tự</div>
        
        <button type="submit">Gửi</button>
    </form>
    <script src="/public/ask.js"></script> <!--Cho phep nguoi ta vao thu muc public doc code truoc moi de the nay-->
    
</body>
</html>